<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Khala.EventSourcing.Tests Rules" ToolsVersion="15.0">
  <Include Path="khala.eventsourcing.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
  </Rules>
</RuleSet>